---
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";

interface Props {
  writing: CollectionEntry<'writing'>;
}

const { writing } = Astro.props;
---

<Layout pageTitle={`Wrting | ${writing.data.title}`} bg="#FEFCE8">
    <div class="max-w-[810px] mx-auto flex flex-col">
        <nav class="h-16 flex items-center justify-between">
            <a href="/">Home</a>
            <a href="../writings">All writings</a>
        </nav>
        <div class="flex flex-col gap-4">
            <div>
                <img src={`/${writing.data.image.src}`} alt={writing.data.image.alt} transition:name=`writing-image-${writing.data.title}`/>
                <span class="text-sm">a description of the image</span>
            </div>
            <div class="text-6xl">{writing.data.title}</div>
            <div class="flex gap-2">{writing.data.tags.map(tag => <div>#{tag}</div>)}</div>
            <div class="text-sm border-b border-black">Written on: {writing.data.date}</div>
            <slot />
        </div>
    </div>
</Layout>